@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0899474746</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>Same</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:gparlakov@gmail.com">gparlakov@gmail.com</a></span>
    </p>    
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Malinov blvd.<br />
        Sofia, 1000
    </p>
    <p>
        Drujba 1<br />
        Sofia, 1001
    </p>
</section>