@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

<div id="reset-user-password">
    <h3 class="padding-25">Use the reset token provided by admin and type yout new password</h3>
    @using (Html.BeginForm("DoResetPassord", "UserProfiles", FormMethod.Post))
    {
        <label for="resetToken">Password reset token provided by admin</label>
        <input type="text" name="resetToken" id="resetToken"/>

        <label for="newPassword">New Password</label>
        <input type="text" name="newPassword" id="newPassword" />

        <input type="submit" value="Reset Password" />
    }
</div>